@import "base/variables";
@import "base/mixins";
@import "base/elements";

@import "partials/wrapper";
@import "partials/navbar";
@import "partials/panel";
@import "partials/flag";
@import "partials/card";
@import "partials/card-details";
@import "partials/card-list";
@import "partials/movie-card";
@import "partials/flex-container";
@import "partials/flex-list";
@import "partials/flex-sidebar";
@import "partials/flex-newbox";

@import "animations/animations";