.card-details {
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	padding: 25px 5px;
    z-index: 20;

	border-radius: 5px;
	background-color: rgba(black,0.85);

	@include md-shadow(2);

	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.4s all;
	transform-origin: 98% 80%;

	&.ng-hide {
		transform: scale(0);
		opacity:0;
		&.ng-hide-active {
			transform: scale(1);
			opacity: 1;
		}
	}

    &__heading {
      padding: 5px;
      margin-bottom:5px;
      h6 {
        font-weight: 200;
        font-size: 14px;
        color: white;
        margin: 0;
        line-height: 16px;
      }
    }

    &__body {
      padding: 5px;
      word-break: break-all;
      p {
        font-weight: 400;
        font-size: 12px;
        color: lighten(black, 70%);
        margin: 0;
        margin-bottom: 7px;
        line-height: 14px;

      }
    }

	&__btn {
		position: absolute;
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 2px;
		right: 2px;
		background: transparent;
		border: none;
		color: rgba(white, 0.7);
		font-size: 20px;
	}

}