$card-width: 160px;
$card-height: 330px;

.card {
	width: $card-width;
	//height: $card-height;
	margin: 5px;
	display: flex;
	flex-direction: column;
	
	&__img {
		height: 230px;
		position: relative;
		&__btn {
			position: absolute;
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 10px;
			right: -15px;
			background: #48cfad;
			color: white;
			font-size: 12px;
			border-radius: 50%;
			@include md-shadow(4);
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include md-shadow(2);
		}
	}
	&__body {
		padding: 15px 10px;
		&__title {
			font-family: 'Raleway', sans-serif;
			font-size: 14px;
			color: #cecece;
			margin: 0 0 10px 0;
			small {
				display: block;
				margin-top: 5px;
			}
		}	
		&__tag {
			padding: 2px 5px;
			font-size: 10px;
			background-color: #48cfad;
			color: white;
			margin-right: 5px;
			border-radius: 3px;
		}
	}

	

	&__specs {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		dt {
			width: 30%;
			font-weight: bold;
		}
		dd {
			width: 70%;
			padding-left: 10px;
			.label {
				margin-right: 5px;
			}
		}
	}

	&__details {
	    position: absolute;
	    top: 2px;
	    right: 2px;
	    bottom: 2px;
	    left: 2px;
		padding: 25px 5px;	    
	    
	    color: white;
	    border-radius: 5px;
	    background-color: rgba(0,0,0,0.7);
	    @include md-shadow(5);
	    
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    overflow-y: auto;
	    overflow-x: hidden;
		&__table {
			width:100%;
			tr {
				margin-bottom: 5px;
				border-bottom: 1px dotted rgba(white, 0.4);
				&:last-child {
					border-bottom:none;
				}	
				td {
					padding:2px;
					text-align: left;
					&:last-child {
						text-align: right;
					}	
				}
			}
		}
	    &__btn {
			position: absolute;
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 2px;
			right: 2px;
			background: transparent;
			border: none;
			color: rgba(white, 0.7);
			font-size: 20px;
		}
	}

	    
	
}