.flex-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;

	&__item {
		margin: 5px 40px 5px 10px;
		transition: all 250ms;
		transform: scale(1);
		z-index: 5;
	}
}