.flex-container {
	height: calc(100% - 65px);
	padding: 0;
	position: relative;
	display: flex;
	//justify-content: flex-end;

	&__sidebar {
		position: absolute;
		left: -300px;
		width: 300px;
		top: 0;
		bottom: 0;
		transition: all 0.5s;
		
		&--active {
			left: 0;
			width: 80%;
			z-index: 500;
		}

		@include da(md) {
			left: 0;
			width: 30%;	
		}		
		@include da(lg) {
			width: 300px;	
		}

		

	}
	&__body {
		position: relative;
		transition: all 0.5s;
		width: 100%;
		background-color: #2D3740;
		box-shadow: -2px 0 6px rgba(black, 0.2);
		left: 0;

		&--active {
			left: 80%;
		}

		@include da(md) {
			width: 70%;	
			margin-left: 30%;
		}
		@include da(lg) {
			width: calc(100% - 300px);	
			margin-left: 300px;
		}

		
		
	}
}